/* style.css */

/* Estilo base */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 40px 20px;
    border-radius: 10px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
}

section {
    padding: 40px 20px;
}

/* Habilidades */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Tarjetas de proyecto */
.card {
    margin-bottom: 20px;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1.1rem;
    color: #666;
}

/* Estilo del footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-top: 40px;
}

/* Diseño responsivo para móviles */
@media (max-width: 767px) {
    h1 {
        font-size: 2.5rem;
    }

    .card {
        margin-bottom: 10px;
    }

    .card-img-top {
        height: 150px;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Diseño para pantallas más grandes */
@media (min-width: 768px) {
    .card-body {
        text-align: left;
    }
}
